body 
{
    color:red;
    text-align: center;
    font-family: arial;
}

#cuerpo
{
background-color: blue;

}

#container2
{
    background-color:blue;
    text-align: center;
    font-family: arial;

}

#container 
{
    background-color:red;
    text-align: center;
    font-family: arial;

}